<div class="menu-container">
  <app-top-nav></app-top-nav>

  <h1 class="app-title">LexiQuest</h1>

  <div class="menu-actions">
    <ng-container *ngIf="isTeacher$ | async; else studentButtons">
      <button mat-raised-button color="primary" routerLink="/dashboard" class="menu-button">
        <mat-icon>school</mat-icon> My Classes
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/dashboard']" [queryParams]="{view: 'lists'}"
        class="menu-button">
        <mat-icon>dashboard</mat-icon> My Lists
      </button>
      <button mat-raised-button class="menu-button marketplace-btn" routerLink="/marketplace">
        <mat-icon>store</mat-icon> Marketplace
      </button>
    </ng-container>

    <ng-template #studentButtons>
      <button mat-raised-button color="primary" routerLink="/dashboard" class="menu-button">
        <mat-icon>dashboard</mat-icon> My Lists
      </button>
      <button mat-raised-button color="accent" routerLink="/marketplace" class="menu-button">
        <mat-icon>store</mat-icon> Marketplace
      </button>
    </ng-template>
  </div>
</div>